body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
  background-color: #CCFFCC;
  color: #006600;}
}

.block {
  border: 1px solid black;
  padding: 10px;
  background-color: #ffffff;
}

li {
  padding: 5px;
}

.contrastBlock {
  background-color: #000000;
  border: 1px solid #666666;
  color: #ffffff;
  padding: 10px;
}

.fixedBlock {
  border: 1px solid black;
  font-family: Courier New, Andale Mono, monospace
  padding: 10px;
  background-color: #ffffff;
}

label {
  display: block;
  padding: 5px;
}
fieldset {
  border-style: solid;
  border-width: 3px;
}
