<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/syntax.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="javascripts/rainbow-custom.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
  </head>

  <body>
    <div class="wrapper">

      <header>
        <h1 class="header">RxJS</h1>
        <a href="index.html"><img id="logo" src="images/logo-128.png" alt="Reactive Extension for JavaScript"/></a>

        <nav>
          <ul>
            {% for link in site.links %}
              {% assign menuClass = '' %}
              {% if link == page.menu %}
              {% assign menuClass = 'selected' %}
              {% endif %}
              <li class="{{menuClass}}"><a href="{{link}}.html">{{ link }}</a></li>
            {% endfor %}
          </ul>
      </nav>

      </header>

      <section role="main">
        {{ content }}
      </section>
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    <script src="javascripts/nav.js"></script>
  </body>
</html>