body {
  background-color: #ffffff;
  padding: 10px;
  font-family: sans-serif;
}

li {
  padding: 5px;
}

.contrastBlock {
  background-color: #000000;
  border: 1px solid #666666;
  color: #ffffff;
  padding: 10px;
}

label {
  display: block;
  padding: 5px;
}
fieldset {
  border-style: solid;
  border-width: 3px;
}
